    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="ObjectID" type="checkbox" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Object ID</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Stato" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Stato</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Contea" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Contea</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Data" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Data</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Casi Covid-19" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Casi Covid-19</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Morti Covid-19" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Morti Covid-19</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Città" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Città</label>
    </div>
    
    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Qualità dell\' aria" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Qualità dell'aria</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="Tipo di lockdown" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Tipo di Lockdown</label>
    </div>