
    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="_id" type="checkbox" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Object ID</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="state" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Stato</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="county" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Contea</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="date" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Data</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="cases" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Casi Covid-19</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="deaths" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Morti Covid-19</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="city" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Città</label>
    </div>
    
    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="cities_air_quality" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Qualità dell'aria</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input field" name="lockdown" type="checkbox" id="flexCheckDefault" (click)=checkProiezione($event) checked/>
        <label class="form-check-label" for="flexCheckDefault">Tipo di Lockdown</label>
    </div>