    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="_id" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Object ID</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="state" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Stato</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="county" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Contea</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="date" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Data</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="cases" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Casi Covid-19</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="deaths" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Morti Covid-19</label>
    </div>

    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="city" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Città</label>
    </div>
    
    <!-- Default checkbox -->
    <div class="form-check">
        <!-- Item proiezione -->
        <input class="form-check-input" type="checkbox" value="air_quality" id="flexCheckDefault"/>
        <label class="form-check-label" for="flexCheckDefault">Qualità dell'aria</label>
    </div>