<div class="row mt-2">

    <!-- Stato radio -->
    <div class="form-check condizioneFirst">
        <input
          class="form-check-input radioItem"
          type="radio"
          name="flexRadioDefault"
          value="Stato"
          id="flexRadioDefault1"
          (click) = checkCondizione($event)
          checked
        />
        <label class="form-check-label" for="flexRadioDefault1"> Stato </label>
    </div>

    <!-- Contea radio -->
    <div class="form-check condizioneItem">
        <input
          class="form-check-input radioItem"
          type="radio"
          name="flexRadioDefault"
          value="Contea"
          id="flexRadioDefault2"
          (click) = checkCondizione($event)
        />
        <label class="form-check-label" for="flexRadioDefault2"> Contea </label>
    </div>

    <!-- Città radio -->
    <div class="form-check condizioneItem">
        <input
          class="form-check-input radioItem"
          type="radio"
          name="flexRadioDefault"
          value="Città"
          id="flexRadioDefault3"
          (click) = checkCondizione($event)
        />
        <label class="form-check-label" for="flexRadioDefault3"> Città </label>
      </div>

</div>




