
<div 
    [ngClass] = "{
        'nascondi' : pagination !== 'Air quality',
        'mostra' : pagination == 'Air quality',
        'mostraInt' : pagination == 'Integration'
    }"
>
    <!-- RANGE QUALITA' DELL'ARIA-->
    <label class="form-label" for="customRange1"><strong>Qualità dell'aria</strong></label>

    <div class="row">
        <div class="col-6">
            <div class="mb-3 form">
                <label for="validationServerUsername">Minore di...</label>
                <div class="input-group">
                <input type="number" name="AirQualityMin" id="AirQualityMin" class="form-control"  placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3 form">
                <label for="validationServerUsername">Maggiore di...</label>
                <div class="input-group">
                <input type="number" name="AirQualityMax" id="AirQualityMax" class="form-control" placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
    </div>
</div>



<div
[ngClass] = "{
    'nascondi' : pagination !== 'Covid-19: cases and deaths',
    'mostra' : pagination == 'Covid-19: cases and deaths',
    'mostraInt' : pagination == 'Integration'
}"
>
    <!-- CASI COVID-19-->
    <label class="form-label" for="customRange1"><strong>Casi Covid-19</strong></label>

    <div class="row">
        <div class="col-6">
            <div class="mb-3 form">
                <label for="validationServerUsername">Minore di...</label>
                <div class="input-group">
                <input type="number" name="CasiMin" id="CasiMin" class="form-control" placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3 form">
                <label for="validationServerUsername">Maggiore di...</label>
                <div class="input-group">
                <input type="number" name="CasiMax" id="CasiMax" class="form-control" placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
    </div>

    <!-- MORTI COVID-19-->
    <label class="form-label" for="customRange1"><strong>Morti Covid-19</strong></label>
        <div class="row">
            <div class="col-6">
                <div class="mb-3 form">
                    <label for="validationServerUsername">Minore di...</label>
                    <div class="input-group">
                    <input type="number" name="MortiMin" id="MortiMin" class="form-control"  placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3 form">
                    <label for="validationServerUsername">Maggiore di...</label>
                    <div class="input-group">
                    <input type="number" name="MortiMax" id="MortiMax" class="form-control" placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                    </div>
                </div>
            </div>
        </div>
</div>


<div
[ngClass] = "{
    'nascondi' : pagination !== 'Lockdown',
    'mostra' : pagination == 'Lockdown',
    'mostraInt' : pagination == 'Integration'
}"
>

    <!-- Tipo di Lockdown -->
    <div class="form-row">
        <div class="form-row">
        <div class="mb-3">
            <label  for="validationServer03"><strong>Tipo di Lockdown</strong></label>
            <select class="form-select" aria-label="Default select example" id="TipoLockdown" (change)="getSpecializzazioni($event)">
            <option value="Stay at home" selected>Stay at home (Rimani a casa)</option>
            <option value="Shelter in place">Shelter in place (Spostamenti consentiti solo sul posto)</option>
            <option value="Curfew">Curfew (Coprifuoco)</option>
            </select>
        </div>
        </div>
    </div>

</div>
