<div>

    <!-- Criterio di ricerca X STATO -->
    <div class="form-row" *ngIf="this.condizione=='Stato'">
        <div class="form-row">
        <div class="mb-3">
            <label  for="validationServer03"><strong>Seleziona stato</strong></label>
            <select class="form-select" aria-label="Default select example" id="SelectedItem" (change)="getSpecializzazioni($event)">
                <option value="Tutti">Tutti</option>
                <option *ngFor="let item of this.states?.state" [value]="item">{{item}}</option>
            </select>
        </div>
        </div>
    </div>

     <!-- Criterio di ricerca X CONTEA -->
     <div class="form-row" *ngIf="this.condizione=='Contea'">
        <div class="form-row">
        <div class="mb-3">
            <label  for="validationServer03"><strong>Seleziona contea</strong></label>
            <select class="form-select" aria-label="Default select example" id="SelectedItem" (change)="getSpecializzazioni($event)">
                <option value="Tutti">Tutti</option>
                <option *ngFor="let item of this.counties?.county" [value]="item">{{item}}</option>
            </select>
        </div>
        </div>
    </div>

     <!-- Criterio di ricerca X CITTA -->
     <div class="form-row" *ngIf="this.condizione=='Città'">
        <div class="form-row">
        <div class="mb-3">
            <label  for="validationServer03"><strong>Seleziona città</strong></label>
            <select class="form-select" aria-label="Default select example" id="SelectedItem" (change)="getSpecializzazioni($event)">
                <option value="Tutti">Tutti</option>
                <option *ngFor="let item of this.cities?.city" [value]="item">{{item}}</option>
            </select>
        </div>
        </div>
    </div>

</div>


<div 
    [ngClass] = "{
        'nascondi' : pagination !== 'Air quality',
        'mostra' : pagination == 'Air quality',
        'mostraInt' : pagination == 'Integration'
    }"
>
    <!-- RANGE QUALITA' DELL'ARIA-->
    
    <!-- CASI COVID-19-->
    <label class="form-label" for="customRange1"><strong>Qualità dell'aria</strong></label>
    

    <div class="row">

        <div class="col-5">
            <div class="mb-3 form">
                <label for="validationServerUsername">Maggiore di...</label>
                <div class="input-group">
                <input type="number" name="AirQualityMax" id="AirQualityMax" class="form-control" min="0" placeholder="0" [value]=this.integration.airQuality.maggioreDi aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3 form">
                <label for="validationServerUsername">Minore di...</label>
                <div class="input-group">
                <input type="number" name="AirQualityMin" id="AirQualityMin" class="form-control" min="0" placeholder="0" [value]=this.integration.airQuality.minoreDi aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
        <div class="col-2" [ngClass] = "{
            'nascondiReset' : visualizzaResetAirQuality == false,
            'mostraReset' : visualizzaResetAirQuality == true
        }" >
            <a class="link-danger remove" (click)="resetAirQuality()">Reset <i class="fa fa-times"></i></a>
        </div>
    </div>
</div>



<div
[ngClass] = "{
    'nascondi' : pagination !== 'Covid-19: cases and deaths',
    'mostra' : pagination == 'Covid-19: cases and deaths',
    'mostraInt' : pagination == 'Integration'
}"
>
    <!-- CASI COVID-19-->
    <label class="form-label" for="customRange1"><strong>Casi Covid-19</strong></label>

    <div class="row">
        <div class="col-5">
            <div class="mb-3 form">
                <label for="validationServerUsername">Maggiore di...</label>
                <div class="input-group">
                <input type="number" name="CasiMax" id="CasiMax" class="form-control" min="0" [value]=this.integration.covid.casi.maggioreDi placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3 form">
                <label for="validationServerUsername">Minore di...</label>
                <div class="input-group">
                <input type="number" name="CasiMin" id="CasiMin" class="form-control" min="0" [value]=this.integration.covid.casi.minoreDi placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                </div>
            </div>
        </div>
        <div class="col-2" [ngClass] = "{
            'nascondiReset' : visualizzaResetCasiCovid == false,
            'mostraReset' : visualizzaResetCasiCovid == true
        }" >
            <a class="link-danger remove" (click)="resetCasiCovid()">Reset <i class="fa fa-times"></i></a>
        </div>
    </div>

    <!-- MORTI COVID-19-->
    <label class="form-label" for="customRange1"><strong>Morti Covid-19</strong></label>
        <div class="row">
            <div class="col-5">
                <div class="mb-3 form">
                    <label for="validationServerUsername">Maggiore di...</label>
                    <div class="input-group">
                    <input type="number" name="MortiMax" id="MortiMax" class="form-control" min="0" [value]=this.integration.covid.morti.maggioreDi placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="mb-3 form">
                    <label for="validationServerUsername">Minore di...</label>
                    <div class="input-group">
                    <input type="number" name="MortiMin" id="MortiMin" class="form-control" min="0" [value]=this.integration.covid.morti.minoreDi placeholder="0" aria-describedby="inputGroupPrepend3" (change)="getSpecializzazioni($event)">
                    </div>
                </div>
            </div>
            <div class="col-2" [ngClass] = "{
                'nascondiReset' : visualizzaResetMortiCovid == false,
                'mostraReset' : visualizzaResetMortiCovid == true
            }" >
                <a class="link-danger remove" (click)="resetMortiCovid()">Reset <i class="fa fa-times"></i></a>
            </div>
        </div>
</div>


<div
[ngClass] = "{
    'nascondi' : pagination !== 'Lockdown',
    'mostra' : pagination == 'Lockdown',
    'mostraInt' : pagination == 'Integration'
}"
>

    <!-- Tipo di Lockdown -->
    <div class="form-row">
        <div class="form-row">
        <div class="mb-3">
            <label  for="validationServer03"><strong>Seleziona il tipo di Lockdown</strong></label>
            <select class="form-select" aria-label="Default select example" id="TipoLockdown" (change)="getSpecializzazioni($event)">
            <option value="Nessuno" selected>Nessuno</option>
            <option value="Stay at home">Stay at home (Zona rossa)</option>
            <option value="Shelter in place">Shelter in place (Zona arancione)</option>
            <option value="Curfew">Curfew (Coprifuoco)</option>
            </select>
        </div>
        </div>
    </div>

</div>
