.mostra{
    display: block;
}

.nascondi{
    display: none
}

.mostraInt{
    display: block;
}

.remove{
    cursor: pointer;
}

.mostraReset{
    visibility: visible;
}

.nascondiReset{
    visibility: hidden;
}

