<!--
<div class="m-4">
    <hr>
    <a href="gridExample">grid example</a>
    <hr>
    <a href="chartExample">chart example</a>
</div>
-->

<div class="bodyFormQuery">

  <form #formReference="ngForm" (ngSubmit)=submitForm(formReference)>

    <div class="row justify-content-md-start">

        <!-- PROIEZIONI E CONDIZIONI -->
        <div class="proiezioni col col-lg-2 mt-4">
            
            <!--PROIEZIONI-->
            <div class="titoloSezione">
                Proiezioni
            </div>
            
            <app-proiezioni (proiezioniHandler)="getProiezioni($event)"></app-proiezioni>

            <!--CONDIZIONI-->
            <div class="titoloSezione mt-5">
                Effettua una ricerca in base a:
            </div>

            <app-condizioni (condizioneHandler)="getCondizione($event)"></app-condizioni>

        </div>

            <!-- Data inizio ricerca (primo calendario) -->
            <div class="calendario col-md-auto mt-4">
                
                <div class="titoloSezione">
                    Data inizio ricerca
                </div>


                <kendo-calendar [weekNumber]="false">
                    <ng-template kendoCalendarMonthCellTemplate let-date>
                        <span [ngClass]="isMeeting(date)">{{date.getDate()}}</span>
                    </ng-template>
                    <ng-template kendoCalendarYearCellTemplate let-context="cellContext">
                        <span [ngClass]="isYearMeeting(context.value)">{{context.formattedValue}}</span>
                    </ng-template>
                    <ng-template kendoCalendarDecadeCellTemplate let-context="cellContext">
                        <span [ngClass]="isDecadeMeeting(context.value)">{{context.formattedValue}}</span>
                    </ng-template>
                    <ng-template kendoCalendarCenturyCellTemplate let-context="cellContext">
                        <span [ngClass]="isCenturyMeeting(context.value)">{{context.formattedValue}}</span>
                    </ng-template>
                    
                    <!--Numero della settimana-->
                    <!--<ng-template kendoCalendarWeekNumberCellTemplate let-context="cellContext">
                        <span class="weeknumber-cell">{{context.formattedValue}}</span>
                    </ng-template>-->

                    <!-- Titolo (es: July 2021)-->
                    <ng-template kendoCalendarHeaderTitleTemplate let-title>
                        {{title}}
                    </ng-template>
                    <ng-template kendoCalendarNavigationItemTemplate let-title let-date="date" let-view="activeView">
                        {{view === 'month' && date.getMonth() === 0 ? 'Jan' : title}}
                    </ng-template>
                </kendo-calendar>

                <div class="mt-2">

                    <div class="row">
                        <div class="col-md-8">Data selezionata: ****</div>
                        <div class="col-6 col-md-4">
                            <a class="link-danger rimuoviData"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                
                </div>

            </div>

            <!-- Data fine ricerca (secondo calendario) -->
            <div class="calendario col-md-auto mt-4">
                
                <div class="titoloSezione">
                    Data fine ricerca
                </div>


                    <kendo-calendar [weekNumber]="false">
                        <ng-template kendoCalendarMonthCellTemplate let-date>
                            <span [ngClass]="isMeeting(date)">{{date.getDate()}}</span>
                        </ng-template>
                        <ng-template kendoCalendarYearCellTemplate let-context="cellContext">
                            <span [ngClass]="isYearMeeting(context.value)">{{context.formattedValue}}</span>
                        </ng-template>
                        <ng-template kendoCalendarDecadeCellTemplate let-context="cellContext">
                            <span [ngClass]="isDecadeMeeting(context.value)">{{context.formattedValue}}</span>
                        </ng-template>
                        <ng-template kendoCalendarCenturyCellTemplate let-context="cellContext">
                            <span [ngClass]="isCenturyMeeting(context.value)">{{context.formattedValue}}</span>
                        </ng-template>
                        
                        <!--Numero della settimana-->
                        <!--<ng-template kendoCalendarWeekNumberCellTemplate let-context="cellContext">
                            <span class="weeknumber-cell">{{context.formattedValue}}</span>
                        </ng-template>-->

                        <!-- Titolo (es: July 2021)-->
                        <ng-template kendoCalendarHeaderTitleTemplate let-title>
                            {{title}}
                        </ng-template>
                        <ng-template kendoCalendarNavigationItemTemplate let-title let-date="date" let-view="activeView">
                            {{view === 'month' && date.getMonth() === 0 ? 'Jan' : title}}
                        </ng-template>
                    </kendo-calendar>

                    <div class="mt-2">

                        <div class="row">
                            <div class="col-md-8">Data selezionata: ****</div>
                            <div class="col-6 col-md-4">
                                <a class="link-danger rimuoviData"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    
                    </div>
        </div>

        <!-- SPECIALIZZAZIONI -->
        <div class="specializzazioni col-md-auto mt-4">
            
            <div class="titoloSezione">
                Specializzazioni
            </div>

            <app-specializzazioni [pagination]="this.pagination"></app-specializzazioni>
        </div>        

    </div>  <!-- FINE BODY FORM QUERY -->

    <!-- SUBMIT FORM QUERIES -->
    <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
        <button class="btn btn-success" type="button" (click)="submitForm(formReference)">Invia query</button>
    </div>

  </form>
    
</div>

  