<div class="bodyFormQuery">

    <div class="titleSection">
       <h3>{{this?.pagination}}</h3>
    </div>

  <form #formReference="ngForm" (ngSubmit)=submitForm(formReference)>

    <div class="row justify-content-md-start">


        <!-- QUERY PIU' FREQUENTI -->
        <div class="queryPiuFrequenti col-md-auto mt-4" *ngIf="this.pagination == 'Query più frequenti'"
            [ngClass] = "{
                'espandiQueryPiuFrequenti' : this?.queryFrequenti?.tipo_query == 'Visualizza andamento QoA pre/post lockdown' || this?.queryFrequenti?.tipo_query == 'Visualizza l\'andamento dei contagi pre/post lockdown' || this?.queryFrequenti?.tipo_query == 'Percentuale casi Covid-19 in base alle contee di uno stato' 
            }"
        >
            
            <div class="titoloSezione mb-3">
                Query più frequenti
            </div>

            <app-query-frequenti
                [pagination]="this.pagination" 
                [condizione]="this.selectedItem" 
                [states]="this.states_and_lockdown"
                [counties]="this.counties"
                [cities]="this.cities"
                (queryFrequentiHandler)="getQueryFrequenti($event)"
                (queryFrequentiDefaultElement)="getQueryFrequentiFirstTime($event)">
            </app-query-frequenti>
        </div>   


        <!-- PROIEZIONI E CONDIZIONI -->
        <div class="proiezioni col col-lg-2 mt-4"  *ngIf="this.pagination !== 'Query più frequenti'">
            
            <!--PROIEZIONI-->
            <div class="titoloSezione">
                Proiezioni
            </div>
            
            <app-proiezioni 
            (proiezioniHandler)="getProiezioni($event)"
            (proiezioniFirstTime)="getProiezioniFirstTime($event)"  
            ></app-proiezioni>

            <!--CONDIZIONI-->
            <div class="titoloSezione mt-5">
                Effettua una ricerca in base a:
            </div>

            <app-condizioni (condizioneHandler)="getCondizione($event)"></app-condizioni>

        </div>

            <!-- Data inizio ricerca (primo calendario) -->
            <div class="calendario col-md-auto mt-4"
            *ngIf="(this?.queryFrequenti?.tipo_query!=='Visualizza andamento QoA pre/post lockdown' && this?.queryFrequenti?.tipo_query !== 'Visualizza l\'andamento dei contagi pre/post lockdown' && this?.queryFrequenti?.tipo_query !== 'Percentuale casi Covid-19 in base alle contee di uno stato' ) || this.pagination !== 'Query più frequenti'"
            >
                
                <div class="titoloSezione calendar">
                    Data inizio ricerca
                </div>

                <kendo-calendar [weekNumber]="false" (valueChange)="getDataInizio($event)">
                    <app-calendar></app-calendar>
                </kendo-calendar>

                <div class="mt-2">

                    <div class="row">
                        <div class="col-md-8 labelData">Data selezionata: {{this.dataInizioView || ''}}</div>
                        <div class="col-6 col-md-4">
                            <a class="link-danger rimuoviData" (click)="resetDate('inizio')"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                
                </div>


            </div>

            <!-- Data fine ricerca (secondo calendario) -->
            <div class="calendario col-md-auto mt-4"
                *ngIf="(this?.queryFrequenti?.tipo_query!=='Visualizza andamento QoA pre/post lockdown' && this?.queryFrequenti?.tipo_query !== 'Visualizza l\'andamento dei contagi pre/post lockdown' && this?.queryFrequenti?.tipo_query !== 'Percentuale casi Covid-19 in base alle contee di uno stato' ) || this.pagination !== 'Query più frequenti'"
            >
                
                <div class="titoloSezione calendar">
                    Data fine ricerca
                </div>


                    <kendo-calendar [weekNumber]="false" (valueChange)="getDataFine($event)">
                        <app-calendar></app-calendar>
                    </kendo-calendar>

                    <div class="mt-2">

                        <div class="row">
                            <div class="col-md-8 labelData">Data selezionata: {{this.dataFineView || ''}}</div>
                            <div class="col-6 col-md-4">
                                <a class="link-danger rimuoviData" (click)="resetDate('fine')"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    
                    </div>
        </div>

        <!-- SPECIALIZZAZIONI -->
        <div class="specializzazioni col-md-auto mt-4" *ngIf="this.pagination !== 'Query più frequenti'">
            
            <div class="titoloSezione mb-3">
                Specializzazioni
            </div>

            <app-specializzazioni 
                [pagination]="this.pagination" 
                [condizione]="this.selectedItem" 
                [states]="this.states"
                [counties]="this.counties"
                [cities]="this.cities"
                (specializzazioniHandler)="getSpecializzazioni($event)"
                (specializzazioneDefaultElement)="getSpecializzazioniFirstTime($event)">
            </app-specializzazioni>
        </div>   
        

    </div>  <!-- FINE BODY FORM QUERY -->

    <!-- SUBMIT FORM QUERIES -->
    <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
        <button class="btn btn-success" type="button" (click)="submitForm(formReference)">Invia query</button>
    </div>

  </form>
    
</div>

<div id="recentiLabel" class="bg-dark">
    <div class="text-center wait" [ngClass] = "{'mostraLoading' : this.queryStatus == 'in attesa', 'nascondiLoading' : this.queryStatus != 'in attesa'}">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!--GRIGLIA PER LE RISPOSTE ALLE VARIE SECTION TRANNE 'QUERY PIU' FREQUENTI'-->
    <div class="divResponse" *ngIf="this.queryStatus=='completata' && !this.noAnswer && this.pagination!=='Query più frequenti'">
        <app-grid-covid 
            [answer]="this.answer" 
            [projMap]="this.projMap"
        >
        </app-grid-covid>
    </div>

    <!--GRIGLIA PER LE RISPOSTE ALLA SECTION 'QUERY PIU' FREQUENTI'-->
    <div class="divResponse" *ngIf="this.queryStatus=='completata' && !this.noAnswer && this.pagination=='Query più frequenti'">
        <app-grid-query-frequenti
            [answer]="this.answer" 
            [projMap]="this.projMapQueryFrequenti"
        >
        </app-grid-query-frequenti>
    </div>

    <!--CHART IN RISPOSTA A QUERY PIU' FREQUENTI : REPORT COVID-19 (CASI E MORTI PER CIASCUNO STATO)-->
    <div class="divResponse" *ngIf="this.queryStatus=='completata' && !this.noAnswer && this.pagination=='Query più frequenti' && this?.queryFrequenti?.tipo_query == 'Report Covid-19: casi e morti per ciascuno stato'">
        <app-chart-covid 
        [answer]="this.answer" 
        [projMap]="this.projMap"
        >
        </app-chart-covid>
    </div>


    <div class="divResponse">
        <app-chart-pie-percentuali-contee-stato
            [answer]="this.answer" 
            [projMap]="this.projMapQueryFrequenti"
        >
        </app-chart-pie-percentuali-contee-stato>
    </div>

    <!--CHART IN RISPOSTA A QUERY PIU' FREQUENTI : REPORT QoA PER STATO-->
    <div class="divResponse" *ngIf="this.queryStatus=='completata' && !this.noAnswer && this.pagination=='Query più frequenti' && this?.queryFrequenti?.tipo_query == 'Report QoA per stato'">
        <app-chart-qoa-state
        [answer]="this.answer" 
        [projMap]="this.projMapQueryFrequenti"
        >
        </app-chart-qoa-state>
    </div>

    <!--CHART IN RISPOSTA A QUERY PIU' FREQUENTI : Visualizza andamento QoA pre/post lockdown-->
    <div class="divResponse" *ngIf="this.queryStatus=='completata' && !this.noAnswer && this.pagination=='Query più frequenti' && this?.queryFrequenti?.tipo_query == 'Visualizza andamento QoA pre/post lockdown'">
        <app-chart-report-qoa-lockdown
        [answer]="this?.answer" 
        [projMap]="this?.projMapQueryFrequenti"
        [dataLockdown]="this?.queryFrequenti?.lockdown_selezionato?.data"
        >
        </app-chart-report-qoa-lockdown>
    </div>

    <!--CHART IN RISPOSTA A QUERY PIU' FREQUENTI : Visualizza andamento contagi pre/post lockdown-->
    <div class="divResponse" *ngIf="this.queryStatus=='completata' && !this.noAnswer && this.pagination=='Query più frequenti' && this?.queryFrequenti?.tipo_query == 'Visualizza l\'andamento dei contagi pre/post lockdown'">
        <app-chart-andamento-contagi
        [answer]="this?.answer" 
        [projMap]="this?.projMapQueryFrequenti"
        [dataLockdown]="this?.queryFrequenti?.lockdown_selezionato?.data"
        >
        </app-chart-andamento-contagi>
    </div>
        
    <div class="noAnswer" *ngIf="this.noAnswer && queryStatus=='completata'">
        <h5>
            <figcaption class="blockquote-footer">
               Nessuna risposta. Prova a modificare i criteri di ricerca.
            </figcaption>
        </h5>
    </div>
    
</div>

  