/*Container categorie e form queries*/
.bodyFormQuery{
    background: transparent;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    border: solid black 2px;
    background-color:#252525;
}

/*Titolo sezione selezionata*/
.titleSection{
    text-align: center;
    border: solid red 2px;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Label contenente la stringa del titolo centrata */
#labelTitolo{
    text-align: center;
    background: transparent;
    color: black;
}

/*Label div di ciascuna sezione*/
.titoloSezione{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.proiezioni{
    padding-left: 1em;
    padding-right: 1em;
    border: solid rgba(0, 0, 0, 0.404) 2px;
    margin-left: 1em;
    padding-bottom: 1em;
}

.condizioni{
    border: solid rgba(0, 0, 0, 0.404) 2px;
    margin-left: 1em;
    padding-bottom: 1em;
}

.specializzazioni{
    border: solid rgba(0, 0, 0, 0.404) 2px;
    margin-left: 1.5em;
    width: max-content;
    padding-bottom: 1em;
}

/*div calendario*/
.calendario{
    border: solid rgba(0, 0, 0, 0.404) 2px;
    margin-left: 1em;
    padding-bottom: 1em;
}

.calendariInizioeFine{
    border: solid black 2px;
}

.rimuoviData{
    cursor: pointer;
    text-align: right;
}

/*Calendario*/
.meeting {
    position: relative;
    color: #00a1e8;
  }

  .meeting:after {
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 3px;
      height: 3px;
      margin-left: -1.5px;
      content: '';
      border-radius: 50%;
      background-color: #00a1e8;
  }

  .k-state-selected .meeting {
    color: #fff;
  }

  .k-state-selected .meeting:after {
    background-color: #fff;
  }

  /*numeri della settimana*/
  .weeknumber-cell {
      color: red;
  }

  .labelData{
      font-size: 0.9em;
      font-weight: bold;
  }

  /*titolo calendario perché non prende le classi su kendo (data inizio /fine)*/
  .calendar{
    margin-bottom: 1em;
  }




  /*Range qualità dell'aria*/
  .rangeQualityAir{
      width: 20em;
  }

  /*Gestione toolbar*/
  .pagination{
    cursor: pointer;
  }
