<div class="bodyFormQuery">

    <div class="titleSection">
       <h3>{{this?.pagination}}</h3>
    </div>

  <form #formReference="ngForm" (ngSubmit)=submitForm(formReference)>

    <div class="row justify-content-md-start">

        <!-- PROIEZIONI E CONDIZIONI -->
        <div class="proiezioni col col-lg-2 mt-4">
            
            <!--PROIEZIONI-->
            <div class="titoloSezione">
                Proiezioni
            </div>
            
            <app-proiezioni 
            (proiezioniHandler)="getProiezioni($event)"
            (proiezioniFirstTime)="getProiezioniFirstTime($event)"  
            ></app-proiezioni>

            <!--CONDIZIONI-->
            <div class="titoloSezione mt-5">
                Effettua una ricerca in base a:
            </div>

            <app-condizioni (condizioneHandler)="getCondizione($event)"></app-condizioni>

        </div>

            <!-- Data inizio ricerca (primo calendario) -->
            <div class="calendario col-md-auto mt-4">
                
                <div class="titoloSezione calendar">
                    Data inizio ricerca
                </div>


                <kendo-calendar [weekNumber]="false" (valueChange)="getDataInizio($event)">
                    <app-calendar></app-calendar>
                </kendo-calendar>

                <div class="mt-2">

                    <div class="row">
                        <div class="col-md-8 labelData">Data selezionata: {{this.dataInizioView || ''}}</div>
                        <div class="col-6 col-md-4">
                            <a class="link-danger rimuoviData" (click)="resetDate('inizio')"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                
                </div>


            </div>

            <!-- Data fine ricerca (secondo calendario) -->
            <div class="calendario col-md-auto mt-4">
                
                <div class="titoloSezione calendar">
                    Data fine ricerca
                </div>


                    <kendo-calendar [weekNumber]="false" (valueChange)="getDataFine($event)">
                        <app-calendar></app-calendar>
                    </kendo-calendar>

                    <div class="mt-2">

                        <div class="row">
                            <div class="col-md-8 labelData">Data selezionata: {{this.dataFineView || ''}}</div>
                            <div class="col-6 col-md-4">
                                <a class="link-danger rimuoviData" (click)="resetDate('fine')"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    
                    </div>
        </div>

        <!-- SPECIALIZZAZIONI -->
        <div class="specializzazioni col-md-auto mt-4">
            
            <div class="titoloSezione mb-3">
                Specializzazioni
            </div>

            <app-specializzazioni 
                [pagination]="this.pagination" 
                [condizione]="this.selectedItem" 
                [states]="this.states"
                [counties]="this.counties"
                [cities]="this.cities"
                (specializzazioniHandler)="getSpecializzazioni($event)"
                (specializzazioneDefaultElement)="getSpecializzazioniFirstTime($event)">
            </app-specializzazioni>
        </div>        

    </div>  <!-- FINE BODY FORM QUERY -->

    <!-- SUBMIT FORM QUERIES -->
    <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
        <button class="btn btn-success" type="button" (click)="submitForm(formReference)">Invia query</button>
    </div>

  </form>
    
</div>

<div id="recentiLabel">
    <div class="text-center wait" *ngIf="this.queryStatus=='in attesa'">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
        <app-chart-covid 
            [covidResult]="this.answer" 
            [projMap]="this.projMap"
            *ngIf="this.queryStatus=='completata' && !this.noAnswer"
        >
        </app-chart-covid>
        <app-grid-covid 
            [covidResult]="this.answer" 
            [projMap]="this.projMap"
            *ngIf="this.queryStatus=='completata' && !this.noAnswer"
        ></app-grid-covid>
    <div class="noAnswer" *ngIf="this.noAnswer">
        <h5 class="mb-4">
            <figcaption class="blockquote-footer">
               Nessuna risposta. Prova a modificare i criteri di ricerca.
            </figcaption>
        </h5>
    </div>
    
</div>

  